[submodule "vesta-platform-core"]
	path = vesta-platform-core
	url = https://github.com/visalto/vesta-platform-core.git
[submodule "vesta-airflow"]
	path = vesta-airflow
	url = https://github.com/visalto/vesta-airflow.git

[submodule "vesta-git"]
	path = vesta-git
	url = https://github.com/visalto/vesta-git.git
[submodule "vesta-python"]
	path = vesta-python
	url = https://github.com/visalto/vesta-python.git
